<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="../../../assets/category/Electronics-EC-.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-danger">Electronics</h3>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/category/Books.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-danger">Books</h3>
            </div>
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
            <img src="../../../assets/category/Clothes.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-danger">Clothes</h3>
            </div>
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
            <img src="../../../assets/category/Shoes.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-primary">Shoes</h3>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>