.numCart {
  background-color: brown;
  width: 20px;
  color: aliceblue;
  position: absolute;
  text-align: center;
  border-radius: 20px;
  font-size: medium;
  margin-left: -5px;
  margin-top: -15px;
}