.profile {
    padding: 46px;
    position: relative;
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    color: #33cb33;
    border: 1px solid #33cb33;
    padding: 15px;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    font-size: 18px;
    margin: 24px 0;
}


.profile .save-changes {
    border: 1px solid #e0dfdf;
    background-color: #f2f2f2;
    color: orangered;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all .3s;
}

.profile .save-changes:hover {
    background-color: #d8d8d8;
}

.profile-box {
    padding: 24px 0;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-box h4 {
    font-size: 16px;
}

.profile-box input {
    padding: 4px 10px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #d9d9d9;
}